*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#showGroup{
    width: 600px;
    height: 300px;
    border: 3px solid black;
    margin: auto;
    position: relative;
    margin-top: 150px;
    background-color: yellow;

}
@media screen and (min-width:300px) and (max-width:499px){
#showGroup{
    width: 350px;
    height: 300px;
}
#entryGroup{
    display: flex;
    align-items: center;
    margin-left: 0px;
}
}
#showGroup button{
    border: 2px solid black;
}
#showGroup h2{
    text-align: center;
    margin-top: 10px;
}
#groups{
    margin-top: 20px;
    margin-left: 50px;
    line-height: 25px;
}
.entryInfo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
}
.entryInfo input{
    width: 30px;
    height: 20px;
    margin-left: 10px;
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
 
}

#resetGroup,#outGroup,#clickGroup,#goBack{
    padding: 5px 10px ;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}
#outGroup{
    margin-right: 136px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
#resetGroup{
    margin-right: 60px;
    background-color: red;
    color: white;
      font-weight: bold;
}
#clickGroup{
    margin-right: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
}

/*! SECOND PART*/

#clickInfo{
    padding: 5px 10px ;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: green;
    font-weight: bold;
    color:white;

}

#goBack{
    margin-right: 210px;
    background-color: orangered;
    font-weight: bold;
    color:white;
}


/*! CANCULATE TIME */

#canculateDiv{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    background-color: orangered;
}
@media screen and (min-width:300px) and (max-width:499px){
    #canculateDiv{
        width: 350px;
        height: 300px;
    }
}
#canculTrue,#canculFalse{
    margin-top: 20px;
}
#canculTrue input,#canculFalse input{
    display: block;
    border: 2px solid black;
    margin-top: 10px;
    font-size: 18px;
    width: 100px;
    height: 30px;
    text-align: center;
}
#canculTrue,#canculFalse h3{
    text-align: center;
}

#result {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin-top: 52px;
    font-weight: bold;
    text-align: center;
}

#cancul,#backInfo{
    width: 80px;
    height: 30px;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 85px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}
#cancul{
    background-color: green;
    color: white;
}
#backInfo{
    background-color: red;
    color: white;
}

#backInfo{
    margin-right: 170px;
}


#balmin1{
    margin: auto;
    width: 100%;
    height: 93vh;
    
}
